<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <li>home</li>
            <li>Albums</li>
            <li>about us</li>
        </ul>
    </nav>
</header>


<div>
    <h2>
        Add a new Album
    </h2>

</div>


    <form action="/albums"  method="post">
        <label>Title:  </label>
        <input type="text" name="title" >

        <label>Artist:  </label>
        <input type="text" name="artist" >

        <label>Song Count:  </label>
        <input type="text" name="songCount" >

        <label>length:  </label>
        <input type="text" name="length" >

        <label>image:  </label>
        <input type="text" name="imageUrl" >

        <input type="submit" value="add album">

    </form>





<footer>
    <ul>

        <li>contact us</li>
        <li>about us</li>


    </ul>
</footer>

</body>
</html>