<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/albums">Albums</a></li>
            <li><a href="/addAlbum">Add Album</a></li>
            <li><a href="/songs">All Songs</a></li>
        </ul>
    </nav>
</header>


<div>
    <h2>
        Add a new song
    </h2>

</div>


<form action="/songs"  method="post">

    <input type="hidden" th:value="${album}" name="albumId">

    <label>Title:  </label>
    <input type="text" name="title" >

    <label>Song Count:  </label>
    <input type="text" name="trackNumber" >

    <label>length:  </label>
    <input type="text" name="length" >
    <input type="submit" value="add song">

</form>





<footer>
    <ul>

        <li>contact us</li>
        <li>about us</li>


    </ul>
</footer>

</body>
</html>