<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Albums</title>
    <link rel="stylesheet" href="style.css">


</head>
<body>

<header>
    <nav>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/albums">Albums</a></li>
            <li><a href="/addAlbum">Add Album</a></li>
            <li><a href="/songs">All Songs</a></li>
        </ul>
    </nav>
</header>

<div th:each=" theAlbums: ${albums}">
    <h1><a th:href="${'/albums/'+album.id}">More Inforamtion</a></h1>

<h1> rama </h1>
    <h1> Album: <span th:text="${theAlbums.title}"></span></h1>
    <p> Artist: <span th:text="${theAlbums.artist}"></span></p>
    <p> trackNumber: <span th:text="${theAlbums.songCount}"></span></p>
    <p> length: <span th:text="${theAlbums.length}"></span></p>

    <img src= <span th:src="${theAlbums.imageUrl}">



</div>


<footer>
    <ul>

        <li>contact us</li>
        <li>about us</li>


    </ul>
</footer>
</body>
</html>