<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ALL SONGS</title>

    <link rel="stylesheet" href="../style.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/albums">Albums</a></li>
            <li><a href="/addAlbum">Add Album</a></li>
            <li><a href="/songs">All Songs</a></li>
        </ul>
    </nav>
</header>

<h1> ALL SONGS </h1>



<div th:each=" songs: ${songs}">


    <h1> Title: <span th:text="${songs.title}"></span></h1>
    <p> Length: <span th:text="${songs.length}"></span></p>
    <p> SongCount: <span th:text="${songs.trackNumber}"></span></p>






</div>


<footer>
    <ul>

        <li>contact us</li>
        <li>about us</li>


    </ul>
</footer>

</body>
</html>