<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Capitalized test</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>

<header>
    <nav>
        <ul>
            <li>home</li>
            <li>Albums</li>
            <li>about us</li>
        </ul>
    </nav>
</header>
<div>

<section>


<p> the capitalized word: <span th:text=${word}></span> </p>
</section>
</div>

<footer>
    <ul>

        <li>contact us</li>
        <li>about us</li>


    </ul>
</footer>

</body>
</html>