<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/albums">Albums</a></li>
            <li><a href="/addAlbum">Add Album</a></li>
            <li><a href="/songs">All Songs</a></li>
        </ul>
    </nav>
</header>



<section>
    <h1> Songer App </h1>

    <h2> Welcome ..</h2>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuvR4poE7GMS-CML_L-vwGrfLyglYwRrE9gMOgVqg5tCU3RCsFH-gcbZbmuMEsJaXSOZs&usqp=CAU">
</section>
<footer>
    <ul>

        <li>contact us</li>
        <li>about us</li>


    </ul>
</footer>
</body>
</html>